
#header, #footer-container {
    background-color: #0066a1;
}

#footer-container a:link, #footer-container {
    color: white;
}



#jenkins-home-link #headerTop {
    padding: 7px 0 0 13px;
    margin-left: 141px;
}

#jenkins-home-link .logo {
    background: transparent url("http://anuragpurohit86.github.io/AtosStyle/logo_atos.png") no-repeat scroll 3px 0 / 85px 21px;
    border-right: 1px solid #ffffff;
    float: left;
    height: 26px;
    position: relative;
    width: 99px;
}

#jenkins-home-link .AtosSpan {
    color: #0066a1;
    height: 100%;
    position: absolute;
    width: 100%;
}

#jenkins-home-link .devops {
    background: transparent url("http://anuragpurohit86.github.io/AtosStyle/devops.png") no-repeat scroll -98px 0 / 320px 28px;
    border-right: 1px solid #ffffff;
    height: 26px;
    position: relative;
    width: 142px;
}

table.bigtable {
    border-collapse: separate;
    border-spacing: 2px;
}

table.bigtable tr:nth-child(2n), table.bigtable tr:nth-child(2n+1) {
    background-color: #e9e8e8;
}

table.bigtable tr.hover {
    background-color: #f5f5f5;
}

.pane-frame, #tasks {
    border: 1px solid #b2d7ee;
}
.pane-header {
     background-color:#b2d7ee;
}

table.bigtable tr.header, table.bigtable tr.header th {
    background-color: #b3d7ef;
}

