
#jenkins-home-link {
    background: transparent url("https://wac.das.myatos.net/portal/img/logo_atos.png") no-repeat scroll 172px 4px;
    border-right: 1px solid #ffffff;
    float: left;
    height: 40px;
    position: relative;
    width: 271px;
}

#headerTop {
    padding: 9px 0 0 13px;
}

